body {
  margin: 0;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

/* header */
header {
  background-color: rgb(43 43 43);
  width: 100vw;
  height: 22vh;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#headerTitle{ 
  color: white
}
.login-section {
  display: flex;
  justify-content: flex-end;
  color: white
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: 3px solid white
}

#username,
#password,
.submit {
  margin: 1em;
}

.submit {
  height: 2em;
  width: 15em
}

/* dashboard panel */
main {
  background-image: url(../images/emmanuel-denier-YiXsjwJKXmo-unsplash.jpg);
  background-size: cover;
  
}

.dashboard {
color:antiquewhite;
display: grid;
height: 100vh;
width: 100vw;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
column-gap: 1em;
grid-template-areas:
"left-side right-side";
}

.left-side {
grid-area: left-side;
margin-left: 2em;
border: 5px solid blue;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"trip-info"
"yearly-expense";
}

.right-side {
grid-area: right-side;
margin-right: 2em;
border: 5px solid grey;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1.4fr .6fr;
grid-template-areas:
"traveler-inputs"
"cost-estimation";
}

.traveler-inputs {
grid-area: traveler-inputs;
border: 3px solid rgb(228, 13, 13);
}

.cost-estimation {
grid-area: cost-estimation;
border: 3px solid yellow
}

.trip-info {
grid-area: trip-info;
border: 3px solid pink
}

.past-trips {
  display: flex;
  flex-direction: column;
}

.yearly-expense {
grid-area: yearly-expense;
border: 3px solid greenyellow
}

.hidden {
  display: none!important;
}